body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
